[submodule "systems/et1"]
	path = systems/et1
	url = ../et-pet-et1.git
[submodule "systems/et3"]
	path = systems/et3
	url = ../et-pet-et3.git
[submodule "systems/admin"]
	path = systems/admin
	url = ../et-pet-admin.git
[submodule "systems/api"]
	path = systems/api
	url = ../et-pet-api.git
[submodule "systems/et_ccd_export"]
	path = systems/et_ccd_export
	url = ../et-pet-ccd-export.git
